{% extends 'basketball/layout.html' %}
{% load basketball_extras %}

{% block title %}
	Basketball: Tournaments
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col table-wrapper">
				{% if winners %}
					<table class="table table-striped table-sm">
						<thead>
							<tr><th>Year</th><th>Winner</th><th>Seed</th><th>Record</th>
								<th>Conference</th><th>ELO Rating</th><th>Results</th></tr>
						</thead>
						<tbody>
						{% for winner, bracket in winners %}
							<tr>
							<td><a href="{% url 'basketball:tournament_detail' winner.year %}">{{ winner.year }}</a></td>
							<td><a href="{% url 'basketball:team_detail' winner.team.id %}">{{ winner.team }}</a></td>
							<td>{{ winner.tournament_seed }}</td>
							<td>{{ winner.wins }} - {{ winner.losses }}</td>
							<td>{{ winner.team.conference|long_conf }}</td>
							<td>{{ winner.elo }}</td>
							<td><a href="{% url 'basketball:bracket' bracket.id %}">Results</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No tournament data available</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
