{% extends 'layout.html' %}

{% block title %}
	About Me
{% endblock %}

{% block body %}
  <div class="container">
		<div class="row">
			<div class="col">
		    <h4>About Me</h4>
		    <p>I am a former high school math and computer science teacher with a love
		      of all things quantitative. </p>

		    <p>I earned my undergraduate degree in Mathematics from Williams College, and
		      I completed my M.S. in Applied Mathematics and Scientific Computing at
		      University of Maryland. My research focused on Bioinformatics, the study
		      of biology via computer science tools.</p>

		    <p>I am currently studying data science and web development through online
		    courses and independent projects.</p>
			</div>
		</div>
  </div>
{% endblock %}
